<!DOCTYPE html>
<html lang="pt/br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="reset.css">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <title>Autarquia de londrina </title>
    </head>
    <body>
        <header>
            <div class="caixa">
                <h1><img src="fotos/logo_lond.png"></h1>
                    <nav>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="requisicao.html">Requisição</a></li>
                            <li><a href="contato.html">Contato</a></li>
                            <li><a href="login.html">login</a></li>
                        </ul>
                    </nav>
                </div>
        </header>
        <main class="fundo">
            <div class="texto-capa">
                <img class="banner" src="fotos/capa.png">
                <P>Uma ferramenta de facíl uso para gestão de estágios</p>
            </div>
            <section class="principal">
                <h2 class="titulo-principal">Sobre a Autarquia  </h2>
                <img class="formatura" src="fotos/conclusao.png" alt="Utensilio da formatura">
                <p>A história da organização do Sistema de Saúde de Londrina reflete desde seu início a incorporação
                    de alguns princípios que foram sendo aperfeiçoados e se constituíram nas diretrizes do Sistema Único de Saúde.</p>
                <p id="missao"><em>Nossa missão é: <strong>"Promover saúde à população, sem nenhum tipo de discriminação, por meio de estratégias interinstitucionais, intersetoriais e integradas, garantindo prevenção e cuidado de acordo a necessidade do indivíduo."</strong></em></p>
                <p id="visão"><em>Nossa visão é:<strong>"Restaurar e manter a saúde integral dos munícipes, proporcionando ações de promoção e prevenção à saúde, bem como todo o cuidado necessário." </strong></em></p>
                <p id="valores"><em>Nossos valores é: <strong>"Eficiência, eficácia, humanização e ética para com usuários e trabalhadores da saúde e transparência nas informações, proporcionando saúde de qualidade."</strong></em></p>
            <section class="mapa">
                <h3 class="titulo-principal"> Nosso estabelecimento</h3>
                <p>Nosso estabelecimento está localizado no coração da cidade</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3664.1281142508283!2d-51.15037328448033!3d-23.31111005828464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768
                !4f13.1!3m3!1m2!1s0x94eb43632b6b816f%3A0x7cbd58bb4e6a5963!2sAutarquia%20Municipal%20de%20Sa%C3%BAde%20SEDE%20DA%20SECRETARIA%20MUNICIPAL%20DE%20SA%C3%9ADE%20-
                %20PML!5e0!3m2!1spt-BR!2sbr!4v1667064815462!5m2!1spt-BR!2sbr" width="900" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="
                no-referrer-when-downgrade"></iframe>
            </section>
            <section class="beneficios">
            <h3 class="titulo-principal">Benefícios</h3>
            <div class="conteudo-beneficios">
                <ul class="lista-beneficios">
                    <li class="itens">Atendimento aos clientes</li>
                    <li class="itens">atendimento nas áreas médicas</li>
                    <li class="itens">Localidade de estagios</li>
                    <li class="itens">Profissionais Qualificados</li>
                </ul><img class="imagen-beneficio" src="fotos/beneficio.png">
            </div>
            </section>
        </main>
        <footer>
			<img src="fotos/rodape.png">
			<p class="copyright">&copy; Copyright Autarquia - 2022</p>
		</footer>
    </body>
</html>