<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Menu - Autarquia</title>
		<link rel="stylesheet" href="reset.css">
		<link rel="stylesheet" href="style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<div class="caixa">
			<h1><img src="fotos/logo_lond.png"></h1>
				<nav>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="requisicao.html">Requisição</a></li>
						<li><a href="contato.html">Contato</a></li>
						<li><a href="login.html">login</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main class="fundo">
			<ul class="produtos">
				<li><a href="solicitar.html">
					<h2>Solicitar</h2>
					<img id="adicionar" class="logos" src="fotos/adicionar-logo.png">
					<p class="logo-descricao">Solicitação de estágios complementares.</p>

				</a></li>
				<li><a href="estagio.html">
					<h2>Estágios</h2>
					<img id="estagios" class="logos" src="fotos/pessoa-logo.png">
					<p class="logo-descricao">Preenchimento de estágiarios, periodo e lugar.</p>

				</a></li>
				<li><a href="documentos.html">
					<h2>Documentos</h2>
					<img class="logos" src="fotos/documentos.png">
					<p class="logo-descricao">Preencher documentação de estágios.</p>
				</a></li>
			</ul>
		</main>
		<footer>
			<img src="fotos/rodape.png">
			<p class="copyright">&copy; Copyright Autarquia - 2022</p>
		</footer>
	</body>
</html>